@charset "utf-8";

.cashier-error-wrapper{
  width: 100%;
  height: 85%;
  background: url(../../images/static/error_bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.cashier-error-reload-wrapper{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.cashier-error-reload{
  position: absolute;
  top: 356px;
  left: 380px;
  width: 142px;
  background-color: #fc6a33;
  border-radius: 20px;
  height: 28px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 28px;
  z-index: 999;
}

.cashier-error-wrapper2{
  width: 100%;
  height: 77%;
  background: url(../../images/static/error_bg.jpg) no-repeat;
  /* background-size: cover; */
  position: relative;
}

.circle-wrapper{
  position: relative;
}

.circle{
  position: absolute;
  left: 10px;
  top: -17px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

.circle2{
  left: 130px;
}