@charset "utf-8";

.cashier-error-wrapper{
  width: 100%;
  height: 85%;
  background: url(../../images/static/error_bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.cashier-error-reload{
  position: absolute;
  top: 358px;
  left: 790px;
  width: 142px;
  height: 28px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  z-index: 999;
}

.cashier-error-wrapper2{
  width: 100%;
  height: 77%;
  background: url(../../images/static/error_bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
}