@charset "utf-8";

.investment-wrap{
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
}

.investment-header{
  width: 100%;
  height: 155px;
  background: #ffb030;
  color: #fff;
  margin: 20px 0;
}

.investment-wrap .inner{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.investment-header .investment-area{
  padding: 50px 0 20px 20px;
}

.investment-header .investment-area strong{
  font-size: 18px;
  display: inline-block;
  margin-bottom: 5px;
}

.investment-header .investment-area em{
  font-style: normal;
}

.investment-step{
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-bottom: 20px;
}

.investment-step .title{
  background: #ffb030;
  position: absolute;
  top: 10px;
  width: 150px;
  color: #fff;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.step{
  margin-left: 150px;
}

/* ***************************** */
.ui-step-wrap {
  position: relative;
  padding-top: 30px;
}

.ui-step-wrap .ui-step-bg,
.ui-step-wrap .ui-step-progress {
	height: 6px;
	position: absolute;
	top: 50px;
	left: 0;
}

.ui-step-wrap .ui-step-bg {
	width: 813px;
	background: #e7e7e7;
  margin-left: 118px;
  position: absolute;
  top: 45px;
}

.ui-step-wrap .ui-step-progress {
	width: 0;
  background: #ffb030;
  margin-left: 118px;
  position: absolute;
  top: 45px;
}

.ui-step-wrap .ui-step {
  height: 66px;
	position: relative;
	z-index: 1;
	list-style: none;
}

.ui-step-wrap .ui-step:after {
	content: '';
	display: table;
	clear: both;
}

.ui-step-wrap .ui-step .ui-step-item {
	float: left;
  height: 66px;
}

.ui-step-wrap .ui-step .ui-step-item div {
  line-height: 38px;
	text-align: center;
	color: #625454;
}

.ui-step-wrap .ui-step .ui-step-item .ui-step-item-num span {
	display: inline-block;
	width: 28px;
  line-height: 28px;
	border-radius: 50%;
	background: #dad9d9;
}

.ui-step-wrap .ui-step .ui-step-item.active .ui-step-item-num span {
  width: 28px;
  line-height: 28px;
	color: #fff;
	background: #ffb030;
}

.ui-step-wrap .ui-step .ui-step-item.active .ui-step-item-title{
  color: #ffb030;
}
/* ***************************** */

.investment-agree .agree-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  color: #262626;
  display: none;
}

.investment-agree .txt-area {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 10px;
  height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

.btn-area{
  width: 100%;
  height: 33px;
}

.investment-agree .btn-agree[disabled] {
  opacity: .7;
}

.investment-agree .btn-agree {
  background: #ffb030;
  color: #fff;
  padding: 8px 50px;
  float: right;
  border-radius: 20px;
  border: 0;
  outline: none;
}

.area-line{
  width: 100%;
  height: 1px;
  background: #E5E5E5;
  margin-top: 20px;
}

.agree-box2{
  /* display: none; */
}

.agree-box3{
  display: none;
}

.agree-box4{
  display: none;
}

.agree-box5{
  display: none;
}

.agree-box2 .left{
  float: left;
  width: 840px;
}

.form-help{
  background: #fff;
  border-radius: 8px;
  float: right;
  width: 330px;
}

.form-box{
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-box h3 {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 20px 0;
}

.form-box li {
  margin-bottom: 10px;
}

.form-box .tl {
  position: relative;
  /* padding-left: 10px; */
  margin-bottom: 8px;
  width: 208px;
  line-height: 30px;
  text-align: right;
  float: left;
}

.form-box .tr {
  width: 590px;
  float: left;
  position: relative;
}

.form-box .tl em {
  color: red;
  position: absolute;
  margin: 4px 0 0 -10px;
  font-size: 16px;
  font-style: normal;
}

.form-box .tl2 {
  position: relative;
  padding-left: 10px;
  margin-bottom: 8px;
}

.form-box .tl2 em {
  color: red;
  position: absolute;
  margin: 4px 0 0 -10px;
  font-size: 16px;
  font-style: normal;
}

.form-box .input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 18px;
  border: 1px solid #efefef;
  padding: 2px 10px;
  outline: none;
}

li.for-pc {
  display: list-item;
}

.form-box .comboMenu.in {
  border-color: #efefef;
  max-width: 100%;
}

.comboMenu span.prefix {
  float: left;
}

.comboMenu .prefix {
  line-height: 20px;
  height: 21px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.comboMenu .comboMenu_text {
  float: left;
  white-space: nowrap;
}

.comboMenu .comboMenu_search input, .comboMenu .comboMenu_text {
  border: 0;
  line-height: 20px;
  padding: 3px 0;
  outline: 0;
  color: #666;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *float: left;
  overflow: hidden;
}

.comboMenu a {
  text-decoration: none;
  color: #333;
}

.comboMenu .arrow.in {
  background-position: 4px -38px;
}

.comboMenu .arrow {
  width: 15px;
  margin-right: 4px;
  background: url(../../images/static/arrow_down.gif) #fff no-repeat 4px 12px;
  height: 25px;
  line-height: 27px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: right;
  *float: left;
}

.form-box .comboMenu.in {
  border-color: #efefef;
  max-width: 100%;
}

.comboMenu {
  position: relative;
  border: 1px solid #ff646e;
  border-radius: 5px;
  margin-right: 5px;
  background: #fff;
  min-height: 27px;
  min-width: 120px;
  max-width: 340px;
}

.form-box .textarea {
  height: 64px;
}

.form-upload .tips2 {
  color: #f56469;
  margin-bottom: 20px;
}

.form-upload .upload-row {
  border: 1px dashed #979797;
  padding: 10px;
}

.form-upload .upload-row-title {
  display: inline-block;
  padding: 4px 0;
  font-weight: bold;
  overflow: hidden;
}

.webuploader-container {
  position: relative;
}

.webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #00b7ee;
  padding: 3px 5px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}

.webuploader-element-invisible {
  position: absolute!important;
  clip: rect(1px,1px,1px,1px);
  clip: rect(1px,1px,1px,1px);
}

.form-btn-area {
  text-align: right;
}

.form-btn-area .btn-save, .form-btn-area .btn-submit {
  border-radius: 24px;
  color: #fff;
  padding: 10px 40px;
  margin-left: 20px;
  border: 0;
  outline: none;
}

.form-btn-area .btn-submit {
  background: #f16866;
}

.form-btn-area .btn-save {
  background: #4e5963;
}

.form-help h3 {
  font-size: 16px;
  display: block;
  margin: 20px 0 20px 20px;
}

.form-help .list {
  padding: 0 20px 20px;
}

.help-title {
  border: 1px solid #e6e6e6;
  background: #efefef;
  padding: 6px 10px;
  margin-bottom: 10px;
}

.tips{
  width: 100%;
  padding-left: 218px;
  color: #333;
  font-size: 12px;
  line-height: 30px;
  float: left;
}

.upload_file_word{
  line-height: 30px;
}

.upload_file_word a{
  color: #0000FF;
}

.upload_file_btn, .upload_file_btn2, .upload_file_btn3, .upload_file_btn4, .upload_file_btn5, .upload_file_btn6{
  width: 80px;
  height: 80px;
  border: 1px solid #E5E5E5;
  margin: 15px 0;
  cursor: pointer;
  text-align: center;
  line-height: 85px;
}

.upload_file_tips{
  font-size: 12px;
}

.upload_file_tips span{
  color: red;
}

.bank_address{
  width: 80px;
  height: 30px;
  border: 1px solid #efefef;
  margin-right: 15px;
}

.apply-success{
  width: 100%;
  height: 600px;
  padding-left: 350px;
  padding-top: 50px;
}

.apply-success-img{
  float: left;
  width: 134px;
  height: 127px;
}

.apply-success-img img{
  width: 100%;
}

.apply-success-word{
  float: left;
}

.apply-success-word h3{
  font-size: 22px;
  color: #666;
  line-height: 70px;
}

.apply-success-word span{
  font-size: 14px;
  color: #666
}

.investment-rule{
  color: red;
  border-color: red !important;
  display: none;
}

.comboMenu .popup.popup_0 {
  border-top-color: #e6e6e6;
  min-width: 120px;
  max-width: 248px;
  display: none;
}

.comboMenu .popup {
  position: absolute;
  left: -1px;
  padding: 4px;
  z-index: 8;
  border: 1px solid #bfbfbf;
  display: none;
  background: #fff;
}

.comboMenu .comboMenu_search {
  color: #b2b2b2;
  border: 1px solid #bfbfbf;
  background: url(../../images/static/cmb_search.png) #fffdfa no-repeat center right -4px;
}

.comboMenu .comboMenu_search input {
  cursor: text;
  min-width: 54px;
}

.comboMenu .search-bottom {
  width: 100%;
  height: 5px;
}

.comboMenu .popup_wrap {
  width: 100px;
  overflow: hidden;
  max-height: 400px;
}

.comboMenu .popuplist {
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.comboMenu .popuplist a.hasLeaf, .comboMenu .popuplist a.showRoot {
  background-image: url(../../images/static/arrow_right_noselect.gif);
  background-repeat: no-repeat;
  background-position: 100%;
}

.comboMenu .hisList a, .comboMenu .popuplist a {
  display: block;
  padding: 3px 10px;
  line-height: 20px;
  border-color: 1px solid #fff;
}

.comboMenu .popuplist a.hasLeaf.selected, .comboMenu .popuplist a.hasLeaf:hover, .comboMenu .popuplist a.showRoot:hover {
  background-image: url(../../images/static/arrow_right_select.gif);
}

.popuplist a:hover{
  color: #ffb030;
}

.comboMenu .popup.popup_1, .comboMenu .popup.popup_2, .comboMenu .popup.popup_3, .comboMenu .popup.popup_4 {
  border-left-color: #e6e6e6;
}

.popup_1{
  display: none;
}

.popup_2{
  display: block;
}

.hasLeafOn{
  display: block !important;
}

.hasLeafOn2{
  display: block !important;
}

.invite-rule{
  position: absolute;
  right: -155px;
  top: 5px;
  color: red;
  display: none;
}

.submitterNumber{
  right: -217px;
}

.submitterRange{
  right: -145px;
}

.legalName, .legalNameNumber{
  right: -187px;
}

.licenseAddress{
  right: -175px;
}

.foundDate{
  right: -120px;
}

.licenseValidDate{
  right: -162px;
}

.urgentLiaison{
  right: -163px;
}

.urgentLiaisonPhone{
  right: -164px;
}

.accountName{
  right: -110px;
}

.accountBranchName, .accountLocation{
  right: -194px;
}

.accountLinkNumber{
  right: -167PX;
}

.start-date{
  width: 120px;
  height: 30px;
  border-radius: 18px;
  border: 1px solid #efefef;
  padding: 2px 10px;
  outline: none;
  margin-right: 15px;
  display: block;
  float: left;
}

.start-date:last-child{
  margin-right: 0;
}

.shop-rule{
  position: absolute;
  right: -155px;
  top: 5px;
  color: red;
  display: none;
}

.shop-rule-color{
  color: red;
  border-color: red !important;
}

.shopSuggest{
  right: -143px;
}

.categoryName{
  right: -115px;
}

.naturalName{
  right: -143px;
}

.effectiveTime{
  right: 220px;
}

.contactName{
  right: -130px;
}

.contactPhone{
  right: -158px;
}

.contactEmail{
  right: -130px;
}