@charset "utf-8";

/* img { 
  outline-width:0px; 
  vertical-align:top; 
}  */

.businessBanner{
  width: 100%;
  height: 400px;
}

.businessBanner img{
  width: 100%;
  height: 100%;
}

.businessSettled-warpper{
  width: 100%;
  background-color: #f5f5f5;
}

.businessSettled-container{
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mains {
  padding: 0;
  margin-bottom: 10px;
  overflow: hidden;
}

.joinin-index-step {
  font-size: 0;
  /* height: 110px;
  overflow: hidden;
  line-height: 110px; */
}

.joinin-index-step span.step {
  line-height: 20px;
  text-align: center;
  width: 239px;
}

.joinin-index-step span.line{
  width: 1px;
  height: 100px;
  background-color: #111;
}

.joinin-index-step span {
  font-size: 18px;
  color: #111;
  vertical-align: middle;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
}

.joinin-index-step span a:hover{
  color: #ffb030;
}

.joinin-index-step span.step i {
  background: url(../../images/static/new_join.png) no-repeat;
  display: block;
  margin: 0 auto 25px;
}

.joinin-index-step span.step i.a {
  width: 72px;
  height: 120px;
  background-position: 0 0;
}

.joinin-index-step span.step i.b {
  width: 88px;
  height: 120px;
  background-position: -235px 0;
}

.joinin-index-step span.step i.c {
  width: 80px;
  height: 121px;
  background-position: -482px 0;
}

.joinin-index-step span.step i.d {
  width: 56px;
  height: 121px;
  background-position: -731px 0;
}

.joinin-index-step span.step i.e {
  width: 119px;
  height: 121px;
  background-position: -939px 0;
}

.joinin-index-step span.step i.f {
  width: 35px;
  height: 34px;
  background-position: -235px 0;
}

.platform_advantage {
  z-index: 1;
  margin-top: 118px;
}

.platform_advantage .platform_logo {
  padding: 80px 0;
  text-align: center;
}

.advantage-list {
  height: 370px;
}

.list-item {
  width: 261px;
  height: 370px;
  float: left;
  border-radius: 10px;
}

.item-leader {
  background-color: #35d198;
}

.item-user {
  background-color: #ff907e;
  margin-left: 52px;
}

.item-team {
  background-color: #a68aff;
  margin-left: 52px;
}

.item-cost {
  background-color: #ffc740;
  margin-left: 52px;
}

.item-leader .item-number span {
  color: #59E5B2;
  background-color: #2aba85;
}

.item-number span {
  display: block;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: 700;
}

.item-logo .logo_1 {
  width: 82px;
  height: 55px;
  background-position: -15px 0;
}

.item-logo i {
  display: block;
  margin: 0 auto;
  background: url(../../images/static/platform.png) no-repeat;
}

.item-text {
  color: #fff;
  text-align: center;
}

.item-text .title {
  font-size: 24px;
  padding: 20px 0 8px 0;
  font-weight: 700;
}

.item-text .t-eng {
  font-size: 14px;
  font-weight: 700;
}

.item-text .line {
  height: 1px;
  background-color: #cecece;
  opacity: .5;
  filter: alpha(50);
  width: 80%;
  margin: 30px auto;
}

.item-user .item-number span {
  color: #FAA;
  background-color: #fc6c55;
}

.item-logo .logo_2 {
  width: 60px;
  height: 65px;
  background-position: -175px 0;
}

.item-team .item-number span {
  color: #BBA5FF;
  background-color: #9270ff;
}

.item-logo .logo_3 {
  width: 68px;
  height: 58px;
  background-position: -315px 0;
}

.item-cost .item-number span {
  color: #FFD170;
  background-color: #eeb12e;
}

.item-logo .logo_4 {
  width: 54px;
  height: 66px;
  background-position: -466px 0;
}

.settled-flow {
  padding-top: 50px;
  background-color: #daf8f6;
}

.settled-flow .settled {
  margin: 0 auto;
  width: 1200px;
  height: 940px;
}

.settled .left {
  width: 200px;
  height: 200px;
  background-color: #01cbbb;
  float: left;
}

.left .i_1 {
  width: 27px;
  height: 28px;
  background-position: 0 -135px;
}

.left i {
  display: block;
  margin: 40px auto 20px;
  background: url(../../images/static/new_joinin.png) no-repeat;
}

.left p {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.left .eng {
  font-size: 12px;
}

.left .span_1 {
  width: 20px;
  height: 20px;
  background-position: -280px -1px;
}

.left span {
  display: block;
  margin: 20px auto 0;
  background: url(../../images/static/new_joinin.png) no-repeat;
}

.settled .right {
  width: 1000px;
  height: 905px;
  background-color: #fff;
  float: right;
}

.right .right-top {
  padding: 0 100px;
  margin-bottom: 30px;
  height: 200px;
}

.right-top li {
  float: left;
}

.right-top .single {
  width: 107px;
  height: 106px;
  background: url(../../images/static/new_joinin.png) no-repeat;
  background-position: -290px -94px;
  margin-top: 46px;
}

.right-top .double {
  padding: 0 10px;
  width: 124px;
  height: 100%;
  line-height: 140px;
  position: relative;
  text-align: center;
}

.single .first {
  width: 80px;
  margin: 32px auto 0;
}

.single p {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  color: #01CBBB;
  font-weight: 700;
}

.right-top .double span {
  /* position: absolute;
  left: 35px;
  top: 70px; */
  color: #01CBBB;
  font-size: 14px;
}

.right .t-1, .right .t-2, .right .t-3, .right .t-4, .right .t-5, .right .t-6 {
  margin: 0 auto;
  padding: 10px 0;
  background-color: #01cbbb;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.t-1, .t-2 {
  width: 450px;
}

.t-1 .title, .t-2 .title, .t-3 .title, .t-4 .title, .t-5 .title, .t-6 .title {
  font-size: 14px;
  font-weight: 700;
}

.right .bg-icon {
  width: 24px;
  height: 48px;
  margin: 0 auto;
  background: url(../../images/static/new_joinin.png) no-repeat;
  background-position: -75px -152px;
}

.settled-stander {
  padding-top: 50px;
  background-color: #d2f8ea;
}

.settled-stander .stand {
  margin: 0 auto;
  width: 1200px;
  height: 1388px;
}

.stand .left {
  width: 200px;
  height: 200px;
  background-color: #35d198;
  float: left;
}

.stand .right {
  width: 1000px;
  height: 1355px;
  background-color: #fff;
  float: right;
}

.stand .right .text {
  height: 120px;
  line-height: 120px;
  margin: 0 50px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #333;
}

.stand .right .text span {
  margin-right: 10px;
  padding: 2px 9px;
  background: #aaa;
  border-radius: 6px;
  color: #fff;
}

.stand .right .text .more {
  line-height: 1.5;
  padding-top: 45px;
}

.stand .right .text .sign {
  background: #35d198;
  padding: 8px 15px;
}

.stand .right .last-text {
  border-bottom: none;
}

.stand .right .b-request, .stand .right .c-request {
  padding: 50px;
  border-top: 1px solid #eee;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.stand .right .c-request {
  height: 270px;
}

.b-request .title, .c-request .title, .rule .title {
  margin-bottom: 30px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.b-request .title span, .c-request .title span {
  border-right: 5px solid #35d198;
  margin-right: 10px;
}

.b-request table, .c-request table {
  height: 220px;
  border: 1px solid #E4E4E4;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.b-request table .col1, .c-request table .col1 {
  width: 280px;
}

.b-request table td, .c-request table td {
  padding-left: 36px;
  border-bottom: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  line-height: 35px;
}

address, caption, cite, code, em, h1, h2, h3, h4, h5, h6, pre, strong, table, td, th {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}

.b-request table a, .c-request table a {
  color: #FF644B;
}

.stand .right .b-request {
  height: 480px;
}

.left .i_2 {
  width: 22px;
  height: 27px;
  background-position: 0 -170px;
}

.left .span_2 {
  width: 20px;
  height: 20px;
  background-position: -308px -1px;
}

.settled-rules {
  padding-top: 50px;
  background-color: #ffefec;
}

.settled-rules .rule {
  margin: 0 auto;
  width: 1200px;
  height: 3045px;
  font-size: 14px;
}

.rule .left {
  width: 200px;
  height: 200px;
  background-color: #ff907e;
  float: left;
}

.left .i_3 {
  width: 25px;
  height: 23px;
  background-position: -39px -172px;
}

.left .span_3 {
  width: 20px;
  height: 20px;
  background-position: -334px -1px;
}

.rule .right {
  width: 1000px;
  height: 3045px;
  background-color: #fff;
  float: right;
}

.rule .right .fee, .rule .right .fee-rule, .rule .right .meiliyou, .rule .right .qianshou, .rule .right .services, .rule .right .tuihuo {
  padding: 35px 0;
  width: 900px;
  margin: 20px 50px;
  border-bottom: 1px solid #e4e4e4;
}

.rule .fee .title span, .rule .fee-rule .title span {
  border-right: 5px solid #ff907e;
  margin-right: 10px;
}

.rule .fee p {
  margin-left: 18px;
  line-height: 35px;
}

.rule .fee-rule p {
  margin-left: 18px;
  line-height: 1.5;
  padding: 10px 0;
}

.rule .right .meiliyou h3 {
  padding: 15px 0;
  color: #000;
  font-weight: 700;
}

.settled-brands {
  padding-top: 50px;
  background-color: #eae7f5;
}

.settled-brands .brand10 {
  margin: 0 auto;
  width: 1200px;
  height: 520px;
}

.brand10 .left {
  width: 200px;
  height: 200px;
  background-color: #a68aff;
  float: left;
}

.left .i_4 {
  width: 25px;
  height: 24px;
  background-position: -42px -138PX;
}

.left .span_4 {
  width: 20px;
  height: 20px;
  background-position: -363px -1px;
}

.brand10 .right {
  width: 1000px;
  /* height: 1050px; */
  background-color: #fff;
  float: right;
}

.brand10 .right .brand_img {
  margin: 80px 80px;
}

.suspension-box {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

.suspension-step {
  width: 1200px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  position: relative;
}

.suspension-step span.step {
  line-height: 48px;
  width: 100px;
  margin: 0 35px;
}

.suspension-step span.step a:hover{
  color: #ffb030;
}

.suspension-step a {
  font-size: 14px;
  display: block;
  height: 48px;
}

.suspension-step div.item-l2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
  text-align: center;
  background: #01cbbb;
  font-weight: 700;
  font-family: "微软雅黑";
}

.suspension-step div.item-l2 a {
  color: #fff;
  font-size: 18px;
}

.suspension-step div a.login i {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../images/static/new_joinin.png) no-repeat;
  background-position: 0 -79px;
  margin: -3px 0 0 5px;
}

.text-1,
.text-2,
.text-3,
.text-4{
  margin-top: 20px;
}

.item-logo{
  margin-top: 51px;
}

.business-process-wrapper{
  width: 100%;
  height: 1439px;
  background-color: #fff;
  padding-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.business-process{
  width: 1200px;
  margin: 0 auto;
}

.process_logo{
  padding: 80px 0;
  text-align: center;
}

.business_process_item{
  width: 100%;
  height: 136px;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.business_process_item_bg{
  width: 156px;
  height: 136px;
  background: url(../../images/static/process_bg.png) no-repeat;
  color: #111;
  font-size: 24px;
  text-align: center;
  line-height: 136px;
  float: left;
}

.business_process_item1{
  background-position: 0 0;
}

.business_process_item2{
  background-position: -309px 0;
}

.business_process_item3{
  background-position: -618px 0;
}

.business_process_item4{
  background-position: -925px 0;
}

.business_process_item_arrow{
  width: 152px;
  height: 136px;
  text-align: center;
  line-height: 136px;
  float: left;
}

.business_process_flow_wrapper{
  width: 100%;
  padding: 80px 14px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.business_process_flow_item{
  width: 310px;
  height: 207px;
  border: 2px solid #ffb031;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  float: left;
}

.business_process_flow_line{
  width: 120px;
  height: 2px;
  background-color: #ffb031;
  margin-top: 104px;
  float: left;
}

.business_process_flow_size{
  width: 1030px;
  height: 119px;
  border-right: 2px solid #ffb031;
}

.business_process_flow_wrapper2{
  width: 100%;
  padding-left: 145px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.business_process_flow_left{
  width: 134px;
  height: 233px;
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: #ffb031;
  border-bottom-left-radius: 28px;
  float: left;
}

.business_process_flow_item2{
  width: 616px;
  height: 230px;
  border: 2px solid #ffb031;
  border-radius: 10px;
  margin-top: 120px;
  padding-top: 23px;
  float: left;
}

.business_process_flow_item_top{
  width: 100%;
  color: #0f1019;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business_process_flow_item_top_img{
  background: url(../../images/static/process_flow_bg.png) no-repeat;
  margin-right: 20px;
}

.flow_img{
  width: 36px;
  height: 40px;
  background-position: 0 -9px;
}

.business_process_flow_item_bottom{
  color: #111;
  font-size: 14px;
  text-align: center;
}

.flow_img2{
  width: 31px;
  height: 35px;
  background-position: -67px -14px;
}

.flow_img3{
  width: 26px;
  height: 32px;
  background-position: -128px -17px;
}

.flow_img4{
  width: 28px;
  height: 37px;
  background-position: -184px -12px;
}

.flow_img5{
  width: 34px;
  height: 34px;
  background-position: -241px -15px;
}

.flow_img6{
  width: 31px;
  height: 31px;
  background-position: -305px -18px;
}

.flow_img7{
  width: 45px;
  height: 49px;
  background-position: -377px 0;
}

.business-standard-wrapper{
  width: 100%;
  height: 547px;
  background-color: #f5f5f5;
  padding-top: 18px;
  box-sizing: border-box;
}

.business-standard{
  width: 1200px;
  margin: 0 auto;
}

.business-standard-list{
  padding: 0 178px;
  box-sizing: border-box;
}

.business-standard-ver{
  width: 10px;
  height: 10px;
  background-color: #ffb031;
  margin-right: 20px;
  border-radius: 50%;
  display: inline-block;
}

.business-standard-list ul li{
  margin-bottom: 46px;
  color: #111;
  font-size: 18px;
}

.corporate-qualifications-wrapper{
  width: 100%;
  height: 2084px;
  background-color: #fff;
}

.corporate-qualifications{
  width: 1200px;
  margin: 0 auto;
}

.corporate-logo{
  padding: 99px 0;
  text-align: center;
}

.corporate-qualifications-content{
  width: 100%;
  padding: 13px 63px 0;
  box-sizing: border-box;
}

.brand-qualifications-wrapper{
  width: 100%;
  height: 645px;
  background-color: #f5f5f5;
  padding-top: 18px;
  box-sizing: border-box;
}

.brand-qualifications{
  width: 1200px;
  margin: 0 auto;
}

.brand-logo{
  padding: 80px 0;
  text-align: center;
}

.brand-qualifications-content{
  width: 100%;
  padding: 0 67px;
  box-sizing: border-box;
}

.brand-qualifications-content ul li{
  margin-bottom: 30px;
  color: #111;
  font-size: 18px;
  letter-spacing: 6px;
}

.cooperation-brand-wrapper{
  width: 100%;
  height: 712px;
  background-color: #fff;
  padding-top: 18px;
  box-sizing: border-box;
}

.cooperation-brand{
  width: 1200px;
  margin:  0 auto;
}

.cooperation-logo{
  padding: 80px 0;
  text-align: center;
}

.cooperation-brand-img{
  text-align: center;
}