@charset "utf-8";

.payment_cashier_head_wrapper {
  width: 100%;
  height: 100px;
  /* border-bottom: 1px solid #ffb030; */
  -webkit-box-shadow: 10px 10px 10px 5px #f5f5f5;
          box-shadow: 10px 10px 10px 5px #f5f5f5;
  background-color: #fff;
}

.payment_cashier_head {
  width: 1200px;
  margin: 0 auto;
}

.payment_cashier_head_left {
  width: 345px;
  height: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.payment_cashier_head_left span {
  font-size: 18px;
  color: #333;
  line-height: 100px;
  margin-left: 20px;
}

.payment_cashier_head_right {
  width: 239px;
  height: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

.cashier_order a{
  color: #f66f36;
  font-size: 14px;
}

.cashier_order a:hover{
  text-decoration: underline;
}

.registration-content{
  width: 400px;
  margin: 0 auto;
}

.registration-title{
  width: 100%;
  line-height: 95px;
  color: #666;
  font-size: 16px;
}

.registration-input-warpper{
  width: 100%;
  height: 54px;
  border: 1px solid #dcdcdc;
  margin-bottom: 29px;
  line-height: 54px;
  position: relative;
}

.registration-input-left{
  float: left;
  width: 107px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.registration-input-right{
  width: 291px;
  float: left;
}

.registration-input-right input{
  width: 100%;
  height: 49px;
  border: none;
  outline: none;
  padding-left: 22px;
}

.registration-width{
  width: 197px;
}

.registration-input-rule{
  width: 93px;
  height: 48px;
  float: left;
  background: #ffb030;
  margin-top: 2px;
  position: relative;
}

.registration-code-word{
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.get-code{
  width: 94px;
  height: 100%;
  border-left: 1px solid #eee;
  text-align: center;
  line-height: 52px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

.register-btn{
  width: 100%;
  height: 54px;
  margin-top: 59px;
  background-color: #ffb030;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 54px;
  margin-bottom: 210px;
  cursor: pointer;
}

.registrationRules{
  position: absolute;
  color: red;
  display: none;
}

.phoneRules{
  right: -145px;
}

.userName{
  right: -90px;
}

.passWord{
  right: -80px;
}

.imgRuleCode,
.phoneRuleCode{
  right: -120px;
}

.newPassWord{
  right: -230px;
}

.confirmPassWord{
  right: -212px;
}