@charset "utf-8";

.seat{
  width: 100%;
  height: 50px;
  background-color: #e9e9e9;
}

.wallet-wrapper{
  width: 980px;
  background-color: #fff;
  margin-left: 20px;
  float: left;
}

.wallet-head{
  width: 100%;
  line-height: 30px;
  border-bottom: 1px dashed #e5e5e5;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 12px;
  color: #666;
}

.wallet-head span{
  color: #333;
}

.wallet-content{
  width: 100%;
  padding: 0 21px;
  box-sizing: border-box;
}

.wallet-account-balance{
  width: 100%;
  height: 180px;
  background-color: #fdf7f8;
  margin-top: 31px;
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center;
}

.wallet-account-balance-word{
  color: #333;
  font-size: 14px;
  line-height: 34px;
}

.wallet-account-balance-price{
  color: #ff4040;
  font-size: 16px;
  line-height: 34px;
}

.wallet-account-balance-frozen{
  color: #666;
  font-size: 14px;
  line-height: 26px;
}

.wallet-account-balance-btn{
  width: 133px;
  height: 29px;
  background-color: #ffb030;
  text-align: center;
  line-height: 29px;
  color: #fff;
  font-size: 14px;
  border-radius: 1px;
  margin: 10px auto;
  cursor: pointer;
}

.wallet-account-balance-btn:hover{
  opacity: 0.8;
}

.wallet-introduce{
  width: 100%;
  /* height: 40px; */
  margin-top: 29px;
  line-height: 38px;
}

.wallet-introduce-ul{
  border-bottom: 1px solid #e2e2e2;
}

.wallet-introduce ul li{
  float: left;
  width: 99px;
  font-size: 14px;
  color: #666;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.wallet-cur{
  border-bottom: 3px solid #ffb030;
}

.mar-lg{
  margin-left: 104px;
}

.wallet-none{
  display: none;
}

.wallet-on{
  display: block;
}

.fuli-order-head{
  width: 100%;
  height: 36px;
  background-color: #f7f7f7;
  margin-top: 24px;
}

.fuli-order-left{
  width: 160px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #666;
  position: relative;
  float: left;
}

.fuli-order-left>.fuli-order-arrow{
  position: absolute;
  top: 50%;
  right: 25px;
  width: 10px;
  margin-top: -3px;
  height: 5px;
  background: url(../../images/static/drop-arrow2.png) no-repeat -10px -10px;
}

.fuli-hover-order-arrow{
  background: url(../../images/static/drop-arrow2.png) no-repeat -10px -25px !important;
}

.fuli-order-bg{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(213,203,203,.5);
}

.fuli-order-left-item{
  width: 160px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 10px 10px rgba(213,203,203,.5);
  /* padding-top: 15px; */
  box-sizing: border-box;
  display: none;
}

.fuli-order-left-item ul li{
  line-height: 30px;
  color: #666;
  font-size: 12px;
  /* margin-bottom: 15px; */
}

.fuli-order-right2{
  width: 750px;
  height: 36px;
  float: right;
}

.fuli-order-list2 li{
  float: left;
  width: 185px;
  line-height: 36px;
  color: #666;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.fuli-balance-content{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.fuli-order-left2{
  width: 193px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #666;
  float: left;
}

.expenditure{
  color: #51a057 !important;
}

.change-notes{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

.fuli-order-left-item ul li:hover{
  background-color: #eee;
  color: #ffb030;
}

.fuli-balance-paging{
  width: 100%;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pageBox {
  padding: 10px 0 0 0;
}

#pageBox span {
  display: inline-block;
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #999;
  font-size: 12px;
}

#pageNav {
  display: inline-block;
}

#pageNav a {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #999999;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  margin-right: 14px;
  border-radius: 3px;
}

#pageNav a.pageActive, #pageNav a:hover {
  background: #ff9752;
  color: #fff;
}

#prev:hover {
  cursor: pointer;
}

#next:hover {
  cursor: pointer;
}

.income{
  color: #ff5628 !important;
}

.fuli-order-list-income{
  position: relative;
}

.fuli-order-list-income>.fuli-order-arrow {
  position: absolute;
  top: 50%;
  right: 65px;
  width: 10px;
  margin-top: -3px;
  height: 5px;
  background: url(../../images/static/drop-arrow2.png) no-repeat -10px -10px;
}

.fuli-order-left-item-width{
  width: 185px;
  z-index: 999;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 10px 10px rgba(213,203,203,.5);
  /* padding-top: 15px; */
  box-sizing: border-box;
  display: none;
}

.fuli-order-left-item-width ul li:hover{
  background-color: #eee;
  color: #ffb030;
}

.recharge-details-head{
  width: 100%;
  height: 36px;
  background-color: #f7f7f7;
  margin-top: 20px;
}

.recharge-details-head-left{
  width: 160px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #666;
  position: relative;
  float: left;
}

.recharge-details-head-left>.fuli-order-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  margin-top: -3px;
  height: 5px;
  background: url(../../images/static/drop-arrow2.png) no-repeat -10px -10px;
}

.fuli-order-left-item-recharge{
  width: 160px;
  z-index: 999;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 10px 10px rgba(213,203,203,.5);
  /* padding-top: 15px; */
  box-sizing: border-box;
  display: none;
}

.fuli-order-left-item-recharge ul li:hover{
  background-color: #eee;
  color: #ffb030;
}

.seize-seat{
  width: 100%;
  height: 100px;
}