@charset "utf-8";

.payment_cashier_head_wrapper{
  width: 100%;
  height: 98px;
  border-bottom: 1px solid #ffb030;
  background-color: #fff;
}

.payment_cashier_head{
  width: 1200px;
  margin: 0 auto;
}

.payment_cashier_head_left{
  width: 345px;
  height: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.payment_cashier_head_left span{
  font-size: 18px;
  color: #333;
  margin-top: 14px;
  margin-left: 5px;
}

.payment_cashier_head_right{
  width: 239px;
  height: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

.payment_cashier_head_right2{
  width: 144px;
  height: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

.cashier_user{
  font-size: 14px;
  color: #333;
}

.cashier_ver{
  font-size: 14px;
  margin: 0 15px;
}

.cashier_order a{
  font-size: 14px;
  color: #333;
}

.cashier_order a:hover{
  color: #e98030;
}

.payment_cashier_container_wrapper{
  width: 100%;
  /* background-color: #fff; */
}

.payment_cashier_order_info{
  width: 1200px;
  height: 175px;
  /* border-bottom: 1px solid #ddd; */
  margin: 0 auto;
}

.payment_cashier_order_info_border{
  border-top: 1px solid #ddd;
}

.payment_cashier_order_info_left{
  padding: 29px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.payment_cashier_order_name{
  line-height: 31px;
  color: #ffb030;
  font-size: 14px;
}

.receiving_party{
  font-size: 14px;
  color: #333;
  line-height: 31px;
}

.payment_cashier_order_info_right{
  float: right;
  font-size: 16px;
  color: #666;
  height: 175px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fuhao{
  font-size: 18px;
  color: #ff5628;
}

.payment_cashier_order_price{
  font-size: 24px;
  color: #ff5628;
}

.payment_cashier_select_payment_type{
  width: 1200px;
  /* height: 456px; */
  background-color: #fff;
  /* box-shadow: -5px 0 10px #eaeaea; */
  margin: 0 auto;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* margin-bottom: 30px; */
  margin-top: 25px;
}

.payment_cashier_select_payment_type2{
  width: 1200px;
  /* height: 456px; */
  background-color: #fff;
  -webkit-box-shadow: -5px 0 10px #eaeaea;
          box-shadow: -5px 0 10px #eaeaea;
  margin: 0 auto;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

.payment_cashier_select_payment_type_top{
  width: 100%;
  height: 89px;
  position: relative;
}

.payment_cashier_select_payment_type_bg{
  width: 146px;
  height: 37px;
  background: url(../../images/static/cashier_img.png) no-repeat;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: -4px;
  top: 19px;
}

.payment_method_wrapper{
  width: 100%;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.payment_method_item{
  width: 100%;
  height: 74px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px dashed #ddd;
}

.payment_method_item>input {
  display: none;
}

.payment_method_item>label {
  position: relative;
  width: 100%;
  height: 74px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.payment_method_item>label>span{
  margin-left: 5px;
}

.payment_method_item>label>img{
  margin-left: 22px;
  margin-right: 15px;
}

.payment_method_item>label::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #ffb031;
  margin-right: 6px;
  vertical-align: bottom;
}

.payment_method_item>input:checked+label::before {
  background-color: #fff;
}

.payment_method_item>input:checked+label::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 25px;
  background: url(../../images/static/payment_method.png) no-repeat;
  position: absolute;
  top: 23px;
  left: 0;
}

.payment_method_item_checked{
  -webkit-box-shadow: 0 0 10px #e7e7e7;
          box-shadow: 0 0 10px #e7e7e7;
  border-bottom: 1px solid #fff !important;
}

.payment_method_item_btn{
  width: 124px;
  height: 38px;
  background-color: #ff5826;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 43px;
  cursor: pointer;
}

.payment_cashier_order_time{
  font-size: 14px;
  color: #666;
  line-height: 30px;
}

.check_order{
  width: 75px;
  font-size: 14px;
  color: #333;
  line-height: 27px;
  cursor: pointer;
  background: url(../../images/static/check_order.png) no-repeat;
  background-position: 58px 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.check_order2{
  background-position: 58px -14px;
}


.payment_cashier_order_detail{
  width: 1200px;
  height: 84px;
  margin: 0 auto;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.payment_cashier_order_detail p{
  line-height: 22px;
}

.payment_method_item_ob{
  display: none;
}

.payment_method_item_on{
  display: block;
}

.pay-password-words {
  width: 283px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  margin-top: 7px;
}

.pay-password {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay-password-left {
  width: 229px;
  height: 38px;
  border: 1px solid #cecece;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pay-password-left input {
  width: 34px;
  height: 27px;
  border-style: solid;
  border-color: #cecece;
  border-width: 0 1px 0 0;
  text-align: center;
  outline: none;
}

.pay-password-color {
  font-size: 14px;
  color: #00b7ee;
}

.pay-password-left input:last-child{
  border-right: 0;
}

.available-balance{
  font-size: 14px;
  color: #666;
}

.payment-recharge-mask-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999;
  display: none;
}

.payment-recharge-mask{
  width: 664px;
  height: 380px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -332px;
  padding: 46px 114px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.payment-recharge-mask-head{
  width: 100%;
  color: #666;
  font-size: 18px;
  text-align: center;
  margin-top: 78px;
}

.payment-recharge-mask-head span{
  color: #ff0000;
}

.payment-recharge-mask-btn-wrapper{
  width: 100%;
  padding: 0 27px;
  position: relative;
}

.payment-recharge-mask-btn-left{
  width: 145px;
  float: left;
}

.payment-recharge-mask-btn-left-word{
  width: 145px;
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 62px;
}

.payment-recharge-mask-btn-left-btn{
  width: 145px;
  height: 43px;
  background-color: #f7f6f6;
  border: 1px solid #d1d1d1;
  text-align: center;
  line-height: 41px;
  color: #666;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.payment-recharge-mask-btn-left-btn:hover{
  opacity: 0.8;
}

.payment-recharge-mask-btn-right{
  width: 145px;
  float: right;
}

.payment-recharge-mask-btn-right-btn{
  width: 145px;
  height: 43px;
  background-color: #ffb030;
  border: 1px solid #d1d1d1;
  text-align: center;
  line-height: 41px;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.payment-recharge-mask-btn-right-btn:hover{
  opacity: 0.8;
}

.payment-recharge-mask-vertical{
  width: 1px;
  height: 62px;
  background-color: #d1d1d1;
  position: absolute;
  right: 220px;
  bottom: 5px;
}

.payment-recharge-mask-wrod{
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 45px;
}

.payment-recharge-mask-wrod a{
  color: #30a0ff;
}

.balance-derecharging{
  color: #30a0ff;
  margin-left: 15px !important;
  font-weight: normal !important;
}

.balance-derecharging:hover{
  text-decoration: underline;
}

.balance-info-wrapper{
  width: 100%;
  background-color: #f5f5f5;
}

.balance-info{
  width: 1200px;
  padding-top: 36px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-bg2{
  background-color: #f5f5f5;
}