@charset "utf-8";

.sezie{
  width: 100%;
  height: 48px;
  background-color: #e9e9e9;
}

.personal-wrapper3 {
  width: 980px;
  background-color: #fff;
  margin-left: 20px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.introduce-tab2{
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #d9d9d9;
}

.tab2{
  float: left;
}

.tab2 li {
	float: left;
	width: 100px;
	height: 35px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ob3{
  display: none;
}

.on3 {
	display: block;
}

.tab2 li.cur2 {
  border-bottom: 2px solid #ffb030;
}

.tab-color{
  font-size: 14px;
  color: #ff5826;
  margin-left: 5px;
}

.fuli-search-order{
  width: 240px;
  height: 30px;
  border: 1px solid #eee;
  box-sizing: border-box;
  float: right;
}


.fuli-search-input{
  width: 188px;
  height: 30px;
  float: left;
}

.int{
  width: 240px;
  height: 28px;
  outline: none;
  border: none;
  padding-left: 5px;
}

.fuli-search-orders{
  width: 50px;
  height: 28px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #333;
  float: left;
}

.fuli-order-head{
  width: 100%;
  height: 36px;
  background-color: #f7f7f7;
  margin-top: 24px;
}

.fuli-order-head2{
  width: 100%;
  height: 36px;
  background-color: #f7f7f7;
}

.fuli-order-left{
  width: 160px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #666;
  position: relative;
  float: left;
}

.fuli-order-left>.fuli-order-arrow{
  position: absolute;
  top: 50%;
  right: 18px;
  width: 10px;
  margin-top: -3px;
  height: 5px;
  background: url(../../images/static/drop-arrow2.png) no-repeat -10px -10px;
}

.fuli-hover-order-arrow{
  background: url(../../images/static/drop-arrow2.png) no-repeat -10px -25px !important;
}

.fuli-order-bg{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(213,203,203,.5);
}

.fuli-order-left-item{
  width: 160px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 10px 10px -5px rgba(213,203,203,.5);
  /* padding-top: 15px; */
  box-sizing: border-box;
  display: none;
}

.fuli-order-left-item ul li{
  line-height: 30px;
  color: #666;
  font-size: 12px;
  /* margin-bottom: 9px; */
}

.fuli-order-left-item ul li:last-child{
  margin-bottom: 0;
}

.fuli-order-left-item ul li:hover{
  background-color: #eee;
  color: #ffb030
}

.fuli-order-right{
  width: 770px;
  height: 36px;
  float: right;
}

.fuli-order-list{
  position: relative;
}

.fuli-order-list li{
  float: left;
  width: 120px;
  line-height: 36px;
  color: #666;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.fuli-order-list-arrow{
  position: absolute;
  top: 50%;
  right: 5px;
  width: 11px;
  margin-top: -3px;
  height: 6px;
  background: url(../../images/static/drop-arrow2.png) no-repeat -10px -10px;
}

.fuli-order-left-item2{
  width: 120px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 10px 10px -5px rgba(213,203,203,.5);
  padding-top: 10px;
  box-sizing: border-box;
  display: none;
}

.fuli-order-left-item2 ul li{
  line-height: 30px;
  color: #666;
  font-size: 12px;
  /* margin-bottom: 15px; */
}

.fuli-order-left-item2 ul li:hover{
  background-color: #eee;
  color: #ffb030;
}

.fuli-order-info{
  border: 1px solid #eee;
  box-sizing: border-box;
  margin-top: 20px;
}

.order-info-heade{
  height: 42px;
  line-height: 42px;
  background-color: #f7f7f7;
  /* border-top: 1px solid #eee; */
  border-bottom: 1px solid #eee;
}

.order-info-left{
  width: 210px;
  font-size: 12px;
  color: #999;
  text-align: center;
  float: left;
}

.order-time{
  width: 180px;
  font-size: 12px;
  color: #999;
  text-align: center;
  float: left;
}

.order-info-content{
  height: 120px;
}

.order-info-content2{
  /* height: 240px; */
}

.order-goods-info{
  width: 525px;
  height: 120px;
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}

.order-goods-img{
  width: 83px;
  height: 83px;
}

.order-goods-img img{
  width: 100%;
}

.order-goods-words{
  width: 228px;
  line-height: 22px;
  font-size: 12px;
  margin-left: 10px;
}

.order-goods-words a{
  color: #333;
}

.order-goods-words a:hover{
  color: #e98930;
  text-decoration: underline;
}

.order-goods-price{
  width: 100px;
  text-align: center;
}

.order-goods-del{
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

.order-goods-present{
  font-size: 14px;
  color: #333;
}

.order-goods-number{
  width: 35px;
  font-size: 12px;
  color: #333;
  text-align: right
}

.order-goodsPrice{
  width: 141px;
  height: 120px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.order-goods-all{
  width: 523px;
  /* height: 240px; */
  float: left;
}

.order-goodsPrice2{
  width: 141px;
  /* height: 240px; */
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.order-goodsPrice-top{
  font-size: 16px;
  /* line-height: 22px; */
  color: #333;
}

.order-goodsPrice-bottom{
  font-size: 12px;
  /* line-height: 22px; */
  color: #999;
}

.order-goods-status{
  width: 120px;
  height: 120px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color: #333;
  float: left;
}

.order-goods-status span a{
  color: #333;
}

.order-goods-status span a:hover{
  text-decoration: underline;
}

.status-color2{
  color: #fe9901;
}

.order-goods-status2{
  width: 120px;
  /* height: 240px; */
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color: #fe9901;
  float: left;
}

.order-goods-status2 span a{
  color: #333;
}

.order-goods-status2 span a:hover{
  text-decoration: underline;
}

.status-color{
  color: #ff4040;
}

.status-color3{
  color: #999;
}

.order-goods-setting{
  width: 152px;
  height: 120px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.order-goods-setting a:hover{
  text-decoration: underline;
}

.order-goods-setting p{
  width: 92px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.order-goods-setting2{
  width: 154px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.order-goods-setting2 p{
  width: 90px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.order-goodsPrice-one{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-goodsPrice-one{
  border-bottom: 1px solid #eee;
}

.order-goods-info{
  border-bottom: 1px solid #eee;
}

.order-goods-info:last-child{
  border-bottom: none;
}

.order-goodsPrice-one:last-child{
  border-bottom: none;
}

.order-operate{
  width: 92px;
  height: 27px;
  background-color: #ff5826;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 27px;
  margin: 10px 0;
}

.operate-color{
  background-color: #0090ff;
}

.order-operate:hover{
  opacity: 0.9;
}

.order-cancel{
  font-size: 14px;
  color: #666;
}

.order-cancel a{
  color: #666;
}

.order-cancel a:hover{
  text-decoration: underline;
}

.check-order-evaluate{
  display: none;
}

.order-evaluate{
  width: 107px;
  height: 36px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 34px;
  color: #333;
  font-size: 14px;
  margin-bottom: 15px;
}