@charset "utf-8";

.evaluate-wrapper{
  width: 1200px;
  margin: 0 auto;
}

.evaluate-head{
  width: 100%;
  line-height: 34px;
}

.evaluate-head a{
  font-size: 14px;
  color: #999;
}

.shipped-head-color {
  color: #333 !important;
}

.evaluate-tips-wrapper{
  width: 100%;
  line-height: 45px;
  border: 1px solid #dcdcdc;
  padding-left: 16px;
  box-sizing: border-box;
  color: #999;
  font-size: 14px;
  margin-top: 17px;
}

.evaluate-tips{
  color: #333;
  font-size: 14px;
  margin-left: 19px;
}

.evaluate-goods-wrapper{
  width: 100%;
  border: 1px solid #dcdcdc;
  margin-top: 20px;
}

.evaluate-goods-head{
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #dcdcdc;
  padding: 0 72px 0 17px;
  box-sizing: border-box;
  line-height: 39px;
  color: #999;
  font-size: 14px;
}

.evaluate-word{
  float: right;
}

.evaluate-goods-content{
  width: 100%;
}

.evaluate-goods-content-item{
  width: 100%;
  height: 122px;
  padding-right: 65px;
  box-sizing: border-box;
  position: relative;
}

.evaluate-goods-content-item-left{
  width: 416px;
  float: left;
}

.evaluate-goods-content-item-left-img{
  width: 107px;
  height: 121px;
  padding: 24px 15px;
  float: left;
}

.evaluate-goods-content-item-left-introduce{
  float: left;
  width: 305px;
  line-height: 22px;
  color: #333;
  font-size: 14px;
  margin-top: 30px;
}

.evaluate-introduce{
  font-size: 12px;
  color: #666;
  line-height: 40px;
}

.evaluate-goods-content-item-right{
  float: right;
  color: #0090ff;
  font-size: 14px;
  line-height: 122px;
}

/*向上*/
.triangle{
  position: absolute;
  bottom: -1px;
  right: 70px;
}

.triangle_border_up2{
  width:0;
  height:0;
  border-width:0 12px 12px;
  border-style:solid;
  border-color:transparent transparent #eee;/*透明 透明  灰*/
  position:relative;
}

.triangle_border_up2 span{
  display:block;
  width:0;
  height:0;
  border-width:0 10px 10px;
  border-style:solid;
  border-color:transparent transparent #f7f7f7;/*透明 透明  黄*/
  position:absolute;
  top:3px;
  left:-10px;
}

.evaluate-container{
  width: 100%;
  height: 378px;
  background-color: #f7f7f7;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 1px 1px 1px;
  padding: 34px 28px;
  box-sizing: border-box;
}

.goods-evaluate-wrapper{
  color: #333;
  font-size: 14px;
}

.goods-evaluate-left-color{
  color: #ff5826 !important;
}

.goods-evaluate-left{
  float: left;
}

.goods-evaluate-right{
  float: left;
}

.star{position:relative;margin:0 auto;height:24px;}

.star ul,.star span{float:left;display:inline;height:19px;line-height:19px;margin-right: 15px;}

.star ul{margin:0 10px;}

.star li{float:left;width:24px;cursor:pointer;text-indent:-9999px;background:url(../../images/static/star.png) no-repeat;}

.star strong{color:#f60;}

.star li.on{background-position:0 -28px;}

.star p{position:absolute;top:20px;width:159px;height:60px;display:none;background:url(../../images/static/icon.gif) no-repeat;padding:7px 10px 0;font-size: 12px;}

.star p em{color:#f60;display:block;font-style:normal;font-size: 14px;}

.evaluate-wrod{
  font-size: 14px;
  color: #333;
  margin-top: 15px;
}

.evaluate-wrod-left{
  float: left;
}

.evaluate-wrod-right{
  float: left;
}

.evaluate-wrod-right textarea{
  width: 565px;
  height: 136px;
  border: 1px solid #ddd;
  background-color: #fff;
  outline: none;
  resize: none;
  padding-left: 11px;
  padding-top: 20px;
  color: #999;
  font-size: 14px;
}

.evaluate-wrod-limit{
  float: left;
  color: #999;
  font-size: 12px;
  margin-top: 120px;
  margin-left: 18px;
}

.evaluate-upload-wrapper{
  width: 100%;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  position: relative;
}

.evaluate-upload-left{
  float: left;
  line-height: 36px;
}

.evaluate-upload-right{
  width: 95px;
  height: 36px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  line-height: 36px;
  padding-left: 25px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  float: left;
}

.evaluate-upload-right img{
  position: absolute;
  left: 5px;
  top: 10px;
}

.evaluate-upload-img-num{
  color: #666;
  font-size: 12px;
  line-height: 36px;
  margin-left: 14px;
}

.evaluate-upload-tips{
  color: #999;
  font-size: 12px;
  line-height: 30px;
  position: absolute;
  left: 80px;
  bottom: -30px;
}

.spoke-evaluate-btn{
  width: 140px;
  height: 38px;
  background-color: #ff5826;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-size: 16px;
  margin-top: 55px;
  margin-left: 81px;
  cursor: pointer;
}

.logistics-service-wrapper{
  width: 100%;
  height: 112px;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 1px 1px 1px;
  position: relative;
}

.triangle_border_up3{
  width:0;
  height:0;
  border-width:0 12px 12px;
  border-style:solid;
  border-color:transparent transparent #e3e3e3;/*透明 透明  灰*/
  position:relative;
}

.triangle{
  position: absolute;
  right: 128px;
  bottom: 0;
}

.triangle_border_up3 span{
  display:block;
  width:0;
  height:0;
  border-width:0 10px 10px;
  border-style:solid;
  border-color:transparent transparent #fff;/*透明 透明  黄*/
  position:absolute;
  top:3px;
  left:-10px;
}

.logistics-service-comment{
  width: 357px;
  padding-top: 21px;
  padding-bottom: 27px;
  box-sizing: border-box;
  float: left;
}

.logistics-service-comment-img{
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #e8e8e8;
  margin-left: 16px;
  margin-right: 13px;
  padding-top: 21px;
  padding-left: 10px;
  float: left;
}

.logistics-service-comment-word{
  width: 265px;
  line-height: 26px;
  float: left;
}

.logistics-service-comment-word-top{
  color: #333;
  font-size: 14px;
  margin-top: 7px;
}

.logistics-service-comment-word-bottm{
  font-size: 12px;
  color: #999;
}

.logistics-score-wrapper{
  width: 840px;
  padding: 46px 0;
  box-sizing: border-box;
  float: left;
}

.logistics-score-item{
  float: left;
}

.goods-comment-wrapper{
  width: 100%;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 1px 1px 1px;
}

.goods-comment-item{
  width: 100%;
  height: 341px;
  border-bottom: 1px dashed #ddd;
  padding-top: 35px;
  box-sizing: border-box;
}

.goods-comment-item:last-child{
  border-bottom: none;
}

.goods-comment-item-left{
  width: 184px;
  height: 305px;
  /* padding-left: 19px; */
  box-sizing: border-box;
  float: left;
}

.goods-comment-item-left-img{
  width: 126px;
  height: 126px;
  border: 1px solid #ddd;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-left: 19px;
}

.goods-comment-item-left-suggest{
  /* width: 146px; */
  line-height: 25px;
  color: #333;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 12px;
}

.goods-comment-item-left-suggest a:hover{
  color: #e98930;
  text-decoration: underline;
}

.goods-comment-item-left-norms{
  color: #333;
  font-size: 12px;
  margin-left: 12px;
  line-height: 23px;
}

.goods-comment-item-left-info{
  color: #666;
  font-size: 12px;
  margin-left: 12px;
  line-height: 23px;
}

.goods-comment-item-right{
  width: 1014px;
  height: 305px;
  float: left;
}

.goods-comment-item-right-word{
  color: #333;
  font-size: 14px;
  float: left;
}

.goods-comment-item-right-word span{
  color: #ff5826;
}

.goods-comment-item-right-comment{
  float: left;
}

.goods-comment-item-right-input{
  position: relative;
  margin-top: 17px;
}

.goods-comment-item-right-input textarea{
  width: 950px;
  height: 136px;
  border: 1px solid #ddd;
  padding-top: 20px;
  padding-left: 11px;
  color: #999;
  font-size: 14px;
  outline: none;
}

.goods-comment-word-number{
  position: absolute;
  right: 63px;
  bottom: -15px;
}

.goods-comment-item-right-upload-wrapper{
  width: 100%;
  margin-top: 10px;
}

.goods-comment-item-right-upload-btn{
  width: 56px;
  height: 56px;
  border: 1px solid #ddd;
  padding-top: 17px;
  padding-left: 17px;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
}

.goods-comment-item-right-upload-number{
  color: #666;
  font-size: 12px;
  line-height: 56px;
  margin-left: 10px;
  float: left;
}

.goods-comment-item-right-upload-suggest{
  float: left;
  color: #999;
  line-height: 56px;
  margin-left: 23px;
  font-size: 12px;
}

.goods-comment-item-right-comment-wrapper{
  position: relative;
}

.goods-comment-item-right-comment-btn{
  width: 100px;
  height: 32px;
  background-color: #ff5826;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

.goods-comment-item-right-not-comment{
  padding-left: 36px;
  position: absolute;
  top: 0;
  left: 100px;
  color: #ff5826;
  font-size: 14px;
  line-height: 32px;
  background: url(../../images/static/not_comment.png) no-repeat;
  background-position: 15px 8px;
  display: none;
}

.comments{position:relative;margin:0 auto;height:24px;}

.comments ul,.comment span{float:left;display:inline;height:19px;line-height:19px;margin-right: 15px;}

.comments ul{margin:0 10px;}

.comments li{float:left;width:24px;cursor:pointer;text-indent:-9999px;background:url(../../images/static/star.png) no-repeat;}

.comments strong{color:#f60;}

.comments li.on{background-position:0 -28px;}

.comments p{position:absolute;top:20px;width:159px;height:60px;display:none;background:url(../../images/static/icon.gif) no-repeat;padding:7px 10px 0;font-size: 12px;}

.comments p em{color:#f60;display:block;font-style:normal;font-size: 14px;}

.comment-mask-warpper{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999;
  display: none;
}

.comment-mask{
  width: 527px;
  height: 236px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -263px;
  margin-top: -118px;
  background-color: #fff;
}

.comment-mask-head{
  width: 100%;
  line-height: 53px;
  border-bottom: 1px dashed #d1d1d1;
  padding: 0 30px;
  box-sizing: border-box;
}

.comment-mask-head-word{
  color: #999;
  font-size: 18px;
  float: left;
}

.comment-mask-head-img{
  float: right;
  cursor: pointer;
}

.comment-mask-head-img img{
  vertical-align: middle;
}

.comment-mask-content{
  text-align: center;
  padding-left: 26px;
  line-height: 38px;
  color: #333;
  font-size: 16px;
  background: url(../../images/static/set_payment_success.png) no-repeat;
  background-position: 160px 8px;
  margin-top: 36px;
  box-sizing: border-box;
}

.comment-mask-btn{
  width: 125px;
  height: 43px;
  border: 1px solid #d1d1d1;
  text-align: center;
  line-height: 41px;
  color: #333;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 43px;
  cursor: pointer;
}

.comment-mask-btn:hover{
  background-color: #e98930;
  border-color: #e98930;
  color: #fff;
}

.comment-mask-warpper2{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999;
  display: none;
}

.comment-mask-btn-wrapper{
  width: 279px;
  height: 43px;
  margin: 0 auto;
  margin-top: 43px;
}

.continue-comment{
  width: 125px;
  height: 43px;
  background-color: #ff5826;
  text-align: center;
  line-height: 43px;
  color: #fff;
  font-size: 14px;
  margin-right: 29px;
  cursor: pointer;
  float: left;
}

.continue-comment:hover{
  opacity: .8;
}

.comment-mask-btn2{
  width: 125px;
  height: 43px;
  border: 1px solid #d1d1d1;
  text-align: center;
  line-height: 41px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  float: left;
}

.comment-mask-btn2:hover{
  background-color: #e98930;
  border-color: #e98930;
  color: #fff;
}

.comment-mask-content-position{
  background-position: 105px 8px;
}