@charset "utf-8";

.speical-festival-wrap{
    width: 100%;
    background-color: #f5f5f5;
}

.speical-festival-wrapper{
    width: 1200px;
    margin: 0 auto;
}

.speical-festival-content{
    width: 100%;
    padding: 39px 40px 0 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
}

.speical-festival-head{
    width: 100%;
    padding: 0 9px;
}

.speical-festival-itemize{
    width: 100%;
    border-bottom: 1px dashed #d4d4d4;
    color: #333;
    font-size: 14px;
}

.speical-festival-itemize-left{
    width: 73px;
    float: left;
}

.speical-festival-itemize-right{
    width: 1029px;
    float: left;
}

.speical-festival-itemize-right span{
    margin-right: 30px;
    margin-bottom: 14px;
    display: inline-block;
}

.speical-festival-itemize-right span a{
    color: #333;
}

.speical-festival-itemize-right span a:hover{
    color: #ffb030;
}

.speical-festival-brand{
    width: 100%;
    line-height: 40px;
    border-bottom: 1px dashed #d4d4d4;
}

.speical-festival-itemize-right2{
    width: 1029px;
    float: left;
}

.speical-festival-itemize-right2 span{
    margin-right: 30px;
}

.speical-festival-itemize-right2 span a{
    color: #333;
}

.speical-festival-itemize-right2 span a:hover{
    color: #ffb030;
}

.speical-festival-container{
    width: 100%;
}

.speical-festival-container-header{
    width: 100%;
    height: 133px;
    text-align: center;
}

.speical-festival-container-header h3{
    font-size: 24px;
    color: #2e2e2e;
    margin-top: 50px;
}

.speical-festival-container-header span{
    color: #999;
    font-size: 14px;
}

.speical-festival-goods-wrapper{
    width: 100%;
}

.speical-festival-goods-item{
    width: 256px;
    height: 342px;
    border: 1px solid #e2e2e2;
    margin-right: 32px;
    margin-bottom: 29px;
    cursor: pointer;
    padding: 0 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
}

.speical-festival-goods-item:nth-child(4n+4){
    margin-right: 0;
}

.speical-festival-goods-item:hover{
    border-color: #ffb030;
}

.speical-festival-goods-item-img{
    width: 100%;
    height: 220px;
    text-align: center;
    padding-top: 8px;
}

.speical-festival-goods-item-img img{
    width: 100%;
}

.speical-festival-goods-item-name{
    font-size: 12px;
    line-height: 20px;
    margin-top: 28px;
}

.speical-festival-goods-item-name a{
    color: #333;
}

.speical-festival-goods-item-name a:hover{
    color: #ffb030;
    text-decoration: underline;
}

.speical-festival-goods-item-price{
    color: #f43043;
    font-size: 22px;
    line-height: 50px;
}