@charset "utf-8";

.forget-rule-wrapper{
  width: 100%;
  height: 248px;
  display: flex;
  align-items: center;
}

.forget-rule{
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.forget-rule-item{
  /* width: 50px; */
}

.forget-rule-item-top{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forget-rule-item-ver{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 14px;
}

.forget-rule-item-ver-cur{
  background-color: #ffb030;
  border-color: #ffb030;
  color: #fff;
}

.forget-rule-item-word{
  width: 100%;
  color: #999;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}

.forget-rule-item-word-cur{
  color: #ffb030;
}

.forget-rule-line{
  position: absolute;
  left: 40px;
  top: 7px;
  width: 154px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forget-success{
  width: 340px;
  height: 710px;
  margin: 0 auto;
}

.forget-success-img{
  width: 100%;
  padding-top: 166px;
  text-align: center;
  box-sizing: border-box;
}

.forget-success-img img{
  width: 56px;
  height: 56px;
}

.forget-success-tips,
.forget-success-tips2{
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 18px;
  margin-top: 25px;
}

.forget-success-tips2{
  color: #999;
  font-size: 14px;
  margin-top: 17px;
}

.forget-login-btn{
  width: 106px;
  height: 44px;
  background-color: #ffb030;
  text-align: center;
  line-height: 44px;
  color: #fff !important;
  font-size: 14px;
  display: block;
  margin: 54px auto 0;
}