@charset "utf-8";

.shopping-wrapper{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.shopping-head-left{
  line-height: 79px;
  font-size: 16px;
  color: #333;
  float: left;
}

.shopping-head-left span{
  margin-left: 10px;
}

.shopping-head-right{
  float: right;
  font-size: 14px;
  color: #333;
}

.delivery-address{
  height: 24px;
  line-height: 13px;
  border: 1px solid #ebebeb;
  padding: 5px 64px 5px 8px;
  margin-top: 28px;
  margin-left: 8px;
  box-sizing: border-box;
  font-size: 12px;
  color: #333;
  position: relative;
  float: left;
  cursor: pointer;
}

.shopping-head-right span{
  line-height: 79px;
  float: left;
}

.delivery-address i{
  width: 10px;
  height: 5px;
  background: url(../../images/static/delivery_address.png) no-repeat;
  position: absolute;
  right: 7px;
  top: 10px;
}

.shopping-all-election-wrapper{
  width: 100%;
  /* height: 38px; */
  line-height: 38px;
  border: 1px solid #ebebeb;
  background-color: #f5f5f5;
}

.shopping-all-select{
  position: relative;
  float: left;
}

.shopping-goods-info{
  width: 322px;
  float: left;
  color: #333;
  font-size: 12px;  
  text-align: center;
}

.shopping-goods-unit-price{
  width: 150px;
  float: left;
  color: #333;
  font-size: 12px;  
  text-align: right;
}

.shopping-goods-num{
  width: 185px;
  float: left;
  color: #333;
  font-size: 12px;  
  text-align: right;
}

.shopping-goods-money{
  width: 215px;
  float: left;
  color: #333;
  font-size: 12px;  
  text-align: right;
}

.shopping-goods-setting{
  width: 188px;
  float: left;
  color: #333;
  font-size: 12px;  
  text-align: right
}

.allSelect{
  margin-left: 37px;
}

.shopping-all-election{
  /* margin-top: 10px;
  margin-left: 10px; */
  position: absolute;
  top: 9px;
  left: 9px;
}

input[type='checkbox']{
  width: 18px;
  height: 18px;
  background-color: #fff;
  -webkit-appearance:none;
  border: 1px solid #d1d1d1;
  outline: none;
}

input[type=checkbox]:checked{
  background: url(../../images/static/checkbox_icon.png) no-repeat center;
}

.shop-name-wrapper{
  width: 100%;
  line-height: 61px;
  padding-left: 11px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}

#shopName{
  position: absolute;
  top: 21px;
}

.shop-name-wrapper label{
  margin-left: 24px;
  color: #333;
  font-size: 14px;
  user-select: none;
}

.shop-goods-wrapper{
  width: 100%;
}

.shop-goods-item{
  width: 100%;
  height: 125px;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 0 1px 1px 1px;
  position: relative;
}

.shopGoodsItem{
  position: absolute;
  top: 55px;
  left: 9px;
}

.shop-goods-item-right{
  padding: 22px 0;
  box-sizing: border-box;
  margin-left: 41px;
  display: inline-block;
}

.shop-goods-item-img{
  width: 80px;
  height: 80px;
  float: left;
}

.shop-goods-item-word{
  width: 234px;
  height: 80px;
  padding-left: 7px;
  box-sizing: border-box;
  float: left;
}

.shop-goods-item-word-name{
  text-indent: 7px;
  font-size: 12px;
  line-height: 21px;
  margin-top: 15px;
}

.shop-goods-item-word-name a{
  color: #333;
}

.shop-goods-item-word-name a:hover{
  color: #e98930;
  text-decoration: underline;
}

.shop-goods-item-word-promise{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.shop-goods-item-word-promise-seven{
  width: 17px;
  height: 17px;
  background-color: #e21b39;
  text-align: center;
  line-height: 17px;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
}

.shop-goods-item-word-promise span{
  font-size: 12px;
  color: #999;
}

.shop-goods-price-wrapper{
  width: 223px;
  height: 80px;
  float: left;
}

.shop-goods-old-price{
  text-align: right;
  color: #333;
  font-size: 14px;
  text-decoration: line-through;
  margin-top: 18px;
  line-height: 24px;
}

.shop-goods-new-price{
  text-align: right;
  font-size: 18px;
  color: #333;
  line-height: 24px;
}

.shop-goods-number-wrapper{
  width: 204px;
  height: 80px;
  float: left;
}

.shop-goods-number{
  float: right;
  margin-top: 30px;
}

.shop-goods-number-setting{
  width: 23px;
  height: 22px;
  border: 1px solid #d1d1d1;
  background: url(../../images/static/setting.png) no-repeat;
  float: left;
}

.shop-goods-number-reduce{
  background-position: 5px 5px;
  cursor: pointer;
}

.shop-goods-number-plus{
  background-position: -16px 5px;
  cursor: pointer;
}

.shop-goods-number-input{
  width: 63px;
  height: 22px;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px 0 1px 0;
  float: left;
}

.shop-goods-number-input input{
  width: 100%;
  height: 20px;
  outline: none;
  border: none;
  text-align: center;
}

.shop-goods-present-price{
  width: 167px;
  line-height: 80px;
  text-align: right;
  color: #333;
  font-size: 18px;
  float: left;
}

.shop-goods-operate{
  width: 235px;
  height: 80px;
  float: left;
}

.shop-goods-operate-wrod{
  width: 97px;
  line-height: 22px;
  color: #333;
  font-size: 12px;
  float: right;
}

.shop-goods-operate-del{
  margin-top: 20px;
}

.shop-goods-operate-del:hover{
  text-decoration: underline;
}

.shop-goods-operate-remove:hover{
  text-decoration: underline;
}

.del-goods-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 999;
  display: none;
}

.del-goods-modal{
  width: 527px;
  height: 236px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: -20%;
  margin-left: -263px;
  margin-top: -118px;
}

.del-goods-modal-title{
  width: 100%;
  height: 53px;
  border-bottom: 1px dashed #d1d1d1;
  padding: 0 30px;
  box-sizing: border-box;
}

.del-goods-modal-title-left{
  float: left;
  line-height: 53px;
  font-size: 18px;
  color: #999;
}

.del-goods-modal-title-right{
  float: right;
  margin-top: 18px;
  cursor: pointer;
}

.del-goods-modal-content{
  padding: 24px 0;
  box-sizing: border-box;
}

.del-goods-word{
  width: 100px;
  height: 22px;
  padding-left: 27px;
  color: #333;
  font-size: 16px;
  background: url(../../images/static/trash.png) no-repeat;
  margin: 0 auto;
}

.del-goods-briefing{
  text-align: center;
  line-height: 32px;
  color: #999;
  font-size: 14px;
}

.del-goods-modal-operate{
  width: 275px;
  height: 43px;
  margin: 0 auto;
}

.del-goods-modal-operate-left{
  width: 105px;
  height: 43px;
  background-color: #ffb030;
  text-align: center;
  line-height: 43px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.del-goods-modal-operate-left:hover{
  opacity: 0.8;
}

.del-goods-modal-operate-right{
  width: 125px;
  height: 43px;
  border: 1px solid #d1d1d1;
  text-align: center;
  line-height: 43px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  float: right;
}

.del-goods-modal-operate-right:hover{
  background-color: #ffb030;
  color: #fff;
}

.seize{
  width: 100%;
  height: 65px;
}

.shop-settlement-wrapper{
  width: 100%;
  height: 65px;
  box-shadow:-4px -4px 10px #dedede;
  background-color: #fff;
}

.fixed-bottom {
  position: fixed;
  bottom: 0px;
  /* z-index: 999; */
  box-shadow: -4px -4px 10px #dedede;
}

.shop-settlement-content{
  width: 1200px;
  height: 65px;
  margin: 0 auto;
}

.shop-settlement-left{
  float: left;
  line-height: 65px;
}

.shop-settlement-all-election{
  position: relative;
  padding-left: 35px;
  float: left;
}

#settlement{
  position: absolute;
  left: 10px;
  top: 23px;
}

.del-goods{
  float: left;
  margin-left: 23px;
  cursor: pointer;
  user-select: none;
}

.del-goods:hover{
  color: #ff873e;
  text-decoration: underline;
}

.shop-settlement-right{
  float: right;
  line-height: 65px;
}

.shop-settlement-select{
  float: left;
  color: #999;
  font-size: 12px;
}

.quantity{
  color: #ff4600;
  font-size: 12px;
}

.total-price{
  color: #ff5826;
  font-size: 16px;
}

.shop-settlement-btn{
  width: 103px;
  height: 65px;
  border: 1px solid #d1d1d1;
  margin-left: 42px;
  text-align: center;
  background-color: #ff5826;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.checkBg{
  background-color: #ffefe9;
}


/* ====================================== */
/* label{
  position: relative;
  display: inline-block;
  z-index: 1;
  border: 1px solid #d1d1d1;
  margin-left: 10px;
  border-radius: 1px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
label.mark{
  background: url(../../images/static/checkbox_icon.png) no-repeat center center;
} */

a:hover{
  color: #ff873e;
  text-decoration: underline;
}


/* input[type="checkbox"]{
  display: none;
} */

.cartMain{
  position: relative;
  width: 1200px;
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px 100px;
  min-height: 210px;
}
/*购物车头部*/
.cartMain_hd{
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #3c3c3c;
}
.cartMain_hd .cartTop{
  height: 50px;
}
.cartMain_hd .cartTop .list_chk{
  width: 80px;
  text-indent: 30px;
}
.cartMain_hd .cartTop .list_con{
  width: 312px;
}
.cartMain_hd .cartTop .list_chk label{
  position: absolute;
  left: 10px;
  top:19px;
  margin: 0;
}
.cartMain_hd .cartTop .list_info{
  padding: 0;
  text-indent: 15px;
}
.cartMain_hd .cartTop .list_con{
  text-indent: 140px;
}


.cartBox{
  width: 100%;
  /* margin-bottom: 15px; */
}
.cartBox .shop_info{
  position: relative;
  width: 100%;
  height: 61px;
  background-color: #fff;
  line-height: 61px;
  vertical-align: baseline;
}
.cartBox .shop_info .all_check{
  position: relative;
  float: left;
  width: 30px;
  height: 38px;
}

.cartBox .shop_info .all_check input[type="checkbox"]{
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 21px;
}
.cartBox .shop_info .all_check .shop{
  position: absolute;
  top:21px;
}
.cartBox .shop_info .shop_name{
  float: left;
  margin-left: 6px;
  color: #333;
  font-size: 14px;
}



/*商品列表*/
.cartBox .order_content{
  border: 1px solid #ebebeb;
}
.cartBox .order_content a{
  display: block;
}
.order_lists{
  width: 100%;
  height: 125px;
  border-bottom: 1px solid #ebebeb;
}
.order_lists:last-child{
  border-bottom: none;
}
.order_lists li{
  float: left;
  height: 100%;
}

.order_lists .list_chk{
  position: relative;
  width: 50px;
}
.order_lists .list_chk input[type="checkbox"]{
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 55px;
}
.order_lists .list_chk label{
  margin: 55px 0 0 10px;
}

.order_lists .list_con{
  width: 342px;
}
.order_lists .list_con .list_img{
  width: 80px;
  height: 80px;
  margin-top: 20px;
  float: left;
}
.order_lists .list_con .list_img img{
  width: 100%;
  vertical-align: top;
}
.order_lists .list_con .list_text{
  margin: 30px 0 0 10px;
  text-indent: 5px;
  color: #333;
  font-size: 12px;
  line-height: 21px;
  width: 200px;
  float: left;
}
.order_lists .list_con .list_text a{
  height: 42px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.order_lists .list_con .list_text a:hover{
  color: #ff873e;
  text-decoration: underline;
}

.order_lists .list_info{
  width: 252px;
  box-sizing: border-box;
  padding: 20px 0;
}
.order_lists .list_info p{
  color: #9c9c9c;
  line-height: 18px;
  margin-left: 15px;
}
.order_lists .list_price{
  width: 223px;
  text-align: center;
}
.order_lists .list_price .oldprice{
  color: #333;
  font-size: 14px;
  text-decoration: line-through;
  margin-top: 35px;
  line-height: 24px;
}
.order_lists .list_price .newPrice{
  font-size: 18px;
  color: #333;
  line-height: 24px;
}
.order_lists .list_amount{
  width: 204px;
}
.order_lists .list_amount .amount_box{
  margin-top: 55px;
  width: 109px;
  height: 22px;
  position: relative;
  margin-left: 45px;
}
.order_lists .list_amount .amount_box input{
  width: 63px;
  height: 22px;
  line-height: 22px;
  border-style: solid;
  border-color: #d1d1d1;
  border-width: 1px 0 1px 0;
  color: #333;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  left: 23px;
  float: left;
}
.order_lists .list_amount .amount_box a{
  float: left;
  height: 22px;
  width: 23px;
  border: 1px solid #d1d1d1;
  background: url(../../images/static/setting.png) no-repeat;
  position: absolute;
  top:0;
}
.order_lists .list_amount .amount_box a:hover{
  border-color: #ff873e;
  text-decoration: none;
  color: #ff873e;
  z-index: 3;
}

.order_lists .list_amount .amount_box .reduce{
  left: 0;
  background-position: 5px 5px;
}

.order_lists .list_amount .amount_box .reSty{
  color: #cbcbcb;
}
.order_lists .list_amount .amount_box .reSty:hover{
  border-right: none;
  border-color: #e5e5e5;
  text-decoration: none;
  color: #cbcbcb;
}

.order_lists .list_amount .amount_box .plus{
  right: 0;
  background-position: -16px 5px;
}


.order_lists .list_sum{
  width: 167px;
  text-align: center;
}
.order_lists .list_sum .sum_price{
  line-height: 125px;
  color: #333;
  font-size: 18px;
}
.order_lists .list_op{
  /* width: 164px; */
  line-height: 22px;    
  color: #333;
  font-size: 12px;
  padding-left: 115px;
  box-sizing: border-box;
}
.order_lists .list_op .del{
  margin-top: 43px;
  line-height: 18px;
}

/*底部总计算价*/
.bar-wrapper{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0px;
  z-index: 9;
  background-color: #fff;
}
.bar-content{
  width: 1200px;
  height: 65px;
  margin: 0 auto;
}
.bar-wrapper .bar-right{
  float: right;
  font-size: 12px;
  color: #999;
}
.bar-wrapper .bar-right strong{
  color: #f40;
}

.bar-wrapper .bar-right .piece{
  float: left;
  min-width: 110px;
  /* margin-right: 20px; */
  height: 65px;
  line-height: 65px;
}
.bar-wrapper .bar-right .piece .piece_num{
  display: inline-block;
  color: #ff4600;
  /* padding: 0 10px; */
  /* font-weight: 700; */
  /* font-size: 18px; */
  /* font-family: tohoma,arial; */
}
.bar-wrapper .bar-right .totalMoney{
  float: left;
  min-width: 100px;
  height: 65px;
  line-height: 65px;
}
.bar-wrapper .bar-right .totalMoney .total_text{
  /* float: right; */
  font-weight: 400;
  font-size: 16px;
  color: #ff5826;
  font-family: Arial;
  vertical-align: middle;
  margin-right: 10px;
  /* margin-left: 15px; */
}
.bar-wrapper .bar-right .calBtn{
  float: left;
}
.bar-wrapper .bar-right .calBtn button{
  display: block;
  width: 103px;
  height: 65px;
  color: #fff;
  background: #B0B0B0;
  cursor: not-allowed;
  font-size: 16px;
  letter-spacing: 5px;
  text-decoration: none;
  line-height: 65px;
  text-align: center;
  border: 1px solid #d1d1d1;
  outline: none;
}
.bar-wrapper .bar-right .calBtn button.btn_sty{
  background: #ff5826;
  cursor: pointer;
}

.not-cart-wrapper{
  width: 100%;
  height: 575px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.not-cart-btn{
  width: 104px;
  height: 36px;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  color: #666;
  margin-top: 33px;
}

.not-cart-btn:hover{
  background-color: #ffb22c;
  border-color: #ffb22c;
  color: #fff;
  cursor: pointer;
}