@charset "utf-8";

.fuli-wrapper{
  width: 100%;
  background-color: #e9e9e9;
}

.personal{
  margin-top: 21px;
  min-width: 1202px;
}

.menu2{
  width: 200px;
  /* height: 980px; */
  background-color: #fff;
  float: left;
}

.list_dt {
  background: #fff;
  color: #333;
  width: 200px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.list_dt p{
  font-weight: bold;
}

.list_dt:hover{
  /* background: #ffe6cf; */
  /* color: #ffb030; */
}

/* .list_dt:hover ._after{
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #e98930;
} */

#open{
  background: #ffe6cf;
  color: #ffb030;
}

#open ._after{
  /* display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #e98930; */
}

.list_dt_icon{
  position: absolute;
  right: 30px;
  top: 21px;
  display: block;
  width: 10px;
  height: 6px;
  /* background: url("../../images/static/open.png") no-repeat; */
  background-size: cover;
}

.list_dt_icon2{
  position: absolute;
  left: 40px;
  top: 15px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../images/static/menu_icon.png") no-repeat;
  background-size: cover;
}

.list_dt_position{
  background-position: 0 -48px;
}

.list_dt_position2{
  background-position: 0 -85px;
}

.list_dt_position3{
  background-position: 1px -122px;
}

.list_dt_position4{
  background-position: 0 -162px;
}

.list_dt_position5{
  background-position: 0 -200px;
}

#open .list_dt_icon{
  background: url("../../images/static/open.png") no-repeat;
  background-size: cover;
}

.list_dd{
  /* display: none; */
}

.list_li{
  background: #fff;
  list-style-type: none;
  color: #666;
  width: 200px;
  padding: 0 30px;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.list_li:hover{
  /* background: #ffe6cf; */
  color: #ffb030;
}

.list_li_active{
  background: #ffe6cf;
  color: #e98930;
}

.personal-wrapper{
  width: 980px;
  /* height: 972px; */
  background-color: #fff;
  margin-left: 20px;
  float: left;
}

.personal-head{
  width: 100%;
  height: 207px;
  border-bottom: 3px solid #eee;
}

.personal-head-left{
  width: 332px;
  height: 207px;
  background: url(../../images/static/user_bg.jpg) no-repeat;
  background-size: cover;
  float: left;
}

.personal-head-left-avatar-wrapper{
  width: 135px;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: left;
}

.personal-head-left-avatar{
  width: 90px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #e8cba1;
  border-radius: 50%;
}

.personal-head-left-userInfo{
  width: 197px;
  height: 207px;
  padding-left: 35px;
  box-sizing: border-box;
  float: left;
}

.user-name{
  width: 100%;
  line-height: 56px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 35px;
}

.member-level-wrapper{
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
}

.member-level-vip{
  width: 46px;
  line-height: 20px;
  text-align: center;
  background-color: #ffc135;
}

.account-security-wrapper{
  width: 100%;
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
}

.security-level{
  width: 68px;
  height: 30px;
  display: flex;
  align-items: center;
}

.security-level-left{
  width: 36px;
  height: 12px;
  background-color: #5daad4;
}

.security-level-right{
  width: 32px;
  height: 12px;
  background-color: rgba(255, 255, 255, .5);
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  color: #fff;
}

.personal-head-right{
  width: 648px;
  height: 207px;
  display: flex;
  align-items: center;
  float: left;
}

.personal-head-right-item{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.not-open-yet{
  position: absolute;
  right: 0;
  top: -20px;
  width: 62px;
  height: 30px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  text-align: center;
  line-height: 28px;
  color: #333;
  font-size: 14px;
  display: none;
}

.personal-head-right-item-number{
  width: 100%;
  height: 49px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-head-right-item-number span{
  margin-left: 10px;
}

.personal-head-right-item-words{
  width: 100%;
  height: 49px;
  font-size: 14px;
  color: #666;
  text-align: center;
  line-height: 49px;
}

.personal-content-wrapper{
  width: 100%;
  /* padding: 0 11px; */
  box-sizing: border-box;
}

.personal-myorder-wrapper{
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 10px;
  box-sizing: border-box;
}

.personal-myorder-all{
  width: 90px;
  display: flex;
}

.personal-myorder-vertical{
  width: 5px;
  height: 18px;
  background-color: #ffb030;
}

.personal-myorder-words{
  margin-left: 10px;
}

.personal-operation-wrapper{
  width: 100%;
  padding: 0 10px;
  margin-top: 19px;
  box-sizing: border-box;
}

.personal-operation{
  width: 100%;
  height: 91px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.personal-operation-item{
  width: 20%;
  cursor: pointer;
  position: relative;
}

.personal-operation-img{
  width: 100%;
  height: 40px;
  background: url(../../images/static/daifukuan.png) no-repeat;
  background-position: 76px 0;
}

.personal-operation-img2{
  width: 100%;
  height: 40px;
  background: url(../../images/static/daifahuo.png) no-repeat;
  background-position: 76px 0;
}

.personal-operation-img3{
  width: 100%;
  height: 40px;
  background: url(../../images/static/daishouhuo.png) no-repeat;
  background-position: 78px 0;
}

.personal-operation-img4{
  width: 100%;
  height: 40px;
  background: url(../../images/static/yiwancheng.png) no-repeat;
  background-position: 79px 0;
}

.personal-operation-img5{
  width: 100%;
  height: 40px;
  background: url(../../images/static/daipingjia.png) no-repeat;
  background-position: 76px 0;
}

.personal-operation-img6{
  width: 100%;
  height: 40px;
  background: url(../../images/static/tuikuan.png) no-repeat;
  background-position: 76px 0;
}

.personal-operation-words{
  line-height: 50px;
  color: #333;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.personal-operation-number{
  width: 18px;
  height: 18px;
  background-color: #ff0000;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -15px;
  right: 35px;
}

.curr{
  border-bottom: 3px solid #ffb030;
}

.curr>.personal-operation-words{
  color: #e98930;
}

.ob{
  display: none;
}

.on{
  display: block;
}

.daifukuan{
  background: url(../../images/static/daifukuan_active.png) no-repeat;
  background-position: 57px 0;
}

.daifahuo{
  background: url(../../images/static/daifaguo_active.png) no-repeat;
  background-position: 57px 0;
}

.daishouhuo{
  background: url(../../images/static/daishouhuo_active.png) no-repeat;
  background-position: 57px 0;
}

.yiwancheng{
  background: url(../../images/static/yiwancheng_active.png) no-repeat;
  background-position: 57px 0;
}

.daipingjia{
  background: url(../../images/static/daipingjia_active.png) no-repeat;
  background-position: 57px 0;
}

.tuikuan{
  background: url(../../images/static/tuikuan_active.png) no-repeat;
  background-position: 57px 0;
}

.personal-order-list-wrapper{
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.personal-order-list-head{
  width: 100%;
  height: 41px;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 0 1px 0;
  background-color: #f7f7f7;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 41px;
}

.personal-order-list-head{
  font-size: 12px;
  color: #999;
  letter-spacing: 2px;
}

.order-time{
  margin-left: 55px;
}

.order-detail{
  margin-left: 106px;
}

.order-detail a{
  color: #999;
}

.order-detail a:hover{
  text-decoration: underline;
}

.personal-order-list-content-wrapper{
  width: 100%;
  /* height: 119px; */
  border-bottom: 1px solid #eee;
}

.personal-order-list-content-wrapper:last-child{
  border-bottom: none;
}

.personal-order-list-content-left{
  width: 525px;
  height: 119px;
  float: left;
  display: flex;
  align-items: center;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.personal-order-list-content-left:last-child{
  border-bottom: none;
}

.personal-order-list-content-left-img{
  width: 119px;
  height: 119px;
  padding: 21px;
  box-sizing: border-box;
}

.personal-order-list-content-left-words{
  width: 228px;
  line-height: 22px;
  font-size: 12px;
  margin-left: 10px;
}

.personal-order-list-content-left-words a{
  color: #333;
  font-size: 12px;
}

.personal-order-list-content-left-words a:hover{
  color: #e98930;
}

.personal-order-list-price{
  width: 70px;
  margin-left: 30px;
  text-align: center;
}

.personal-order-list-old-price{
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

.personal-order-list-new-price{
  font-size: 14px;
  color: #333;
}

.personal-order-list-number{
  width: 62px;
  font-size: 12px;
  color: #333;
  text-align: center;
}

.personal-order-list-content-center{
  width: 141px;
  height: 119px;
  border-right: 1px solid #eee;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.personal-order-price{
  line-height: 23px;
  color: #333;
  font-size: 16px;
}

.personal-order-freight{
  line-height: 23px;
  color: #999;
  font-size: 12px;
}

.personal-order-list-content-status{
  width: 120px;
  height: 119px;
  border-right: 1px solid #eee;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.personal-order-status{
  font-size: 14px;
  color: #ff0000;
}

.personal-order-status2{
  font-size: 14px;
  color: #699eff;
}

.view-logistics{
  line-height: 23px;
  font-size: 12px;
}

.view-logistics a{
  color: #333;
  font-size: 12px;
}

.view-logistics a:hover{
  text-decoration: underline;
}

.personal-order-list-payment2{
  width: 92px;
  height: 27px;
  background-color: #699eff;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 27px;
}

.personal-order-list-content-operation{
  width: 152px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}

.personal-order-list-content-operation-time{
  width: 90px;
  line-height: 22px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

.personal-order-list-payment{
  width: 92px;
  height: 27px;
  background-color: #ff0000;
  text-align: center;
  line-height: 27px;
  color: #fff;
  font-size: 14px;
  margin: 5px 0;
}

.personal-order-cancel{
  line-height: 33px;
}

.personal-order-cancel a{
  font-size: 14px;
  color: #666;
}

.personal-order-cancel a:hover{
  text-decoration: underline;
}

.collection-tab-wrapper{
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.collection-tabs-left{
  width: 414px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.collection-tab-head-ver{
  width: 5px;
  height: 18px;
  background-color: #ffb030;
  margin-right: 10px;
}

.collection-tab-head-wrods{
  color: #333;
  font-size: 14px;
  line-height: 36px;
}

.collection-tab-head-wrods2{
  color: #333;
  font-size: 14px;
  line-height: 36px;
}

.collection-tab-head-wrods:last-child{
  margin-left: 66px;
}

.collection_active{
  color: #ffb030;
  border-bottom: 3px solid #ffb030;
}

.collection-tabs-right{
  width: 459px;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin-left: 75px;
}

.ob2{
  width: 414px;
  position: relative;
  overflow: hidden;
  display: none;
}

.on2{
  display: block;
}

.collection-goods-item{
  width: 127px;
  margin-right: 5px;
  float: left;
}

.collection-goods-item-img{
  width: 100%;
  height: 106px;
  padding: 13px 25px;
  box-sizing: border-box;
  margin-top: 20px;
}

.collection-goods-item-words{
  width: 100%;
  height: 38px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-weight: 600;
}

.collection-goods-item-words a:hover{
  color: #e98930;
}

.collection-goods-item-price{
  width: 100%;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #ff0000;
}

.collection-prve{
  position: absolute;
  top: 80px;
}

.collection-next{
  position: absolute;
  right: 0;
  top: 80px;
}

.collection-goods-item-wrapper{
  height: 192px;
  /* padding-left: 20px; */
}

.collection-goods-item-wrapper2{
  height: 192px;
}

.collection-goods-item-wrapper3{
  height: 192px;
}

.collection-more-btn{
  width: 123px;
  height: 38px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 14px;
  color: #999;
  text-align: center;
  line-height: 38px;
  margin: 15px auto;
}

.collection-more-btn:hover{
  background-color: #ffb030;
  color: #fff;
}

.personal-footprint-wrapper{
  width: 459px;
  margin-left: 92px;
}

.personal-view{
  display: flex;
}

.personal-order-list-all{
  width: 525px;
  float: left;
}

.personal-all-order a{
  color: #333;
  font-size: 14px;
}

.personal-all-order a:hover{
  color: #e98930;
  text-decoration: underline;
}

.not_message_wrapper{
  width: 100%;
  height: 359px;
  text-align: center;
  padding-top: 68px;
  box-sizing: border-box;
  /* display: none; */
}

.not_message_word{
  width: 100;
  line-height: 41px;
  color: #999;
  font-size: 14px;
  text-align: center;
}

.not_message_btn{
  width: 90px;
  height: 28px;
  border: 1px solid #eee;
  text-align: center;
  line-height: 26px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  margin: 0 auto;
}

.collection-possess{
  /* display: none; */
  padding-left: 20px;
}

.collection-possess2{
  /* display: none; */
  padding-left: 20px;
}

.footprint{
  /* display: none; */
  position: relative;
}

.not_collection{
  width: 100%;
  height: 314px;
  text-align: center;
  padding-top: 65px;
  box-sizing: border-box;
}

.not_collection_word{
  width: 100%;
  line-height: 52px;
  text-align: center;
  color: #666;
  font-size: 14px;
}

.personal_goods_order_wrapper{
  width: 100%;
  padding: 0 11px;
  box-sizing: border-box
}

.personal_goods_order_item{
  width: 100%;
  height: 86px;
  border-bottom: 1px solid #eee;
  padding: 16px 21px 0 21px;
  box-sizing: border-box;
}

.personal_goods_order_item:last-child{
  margin-bottom: 16px;
}

.size_seat{
  width: 100%;
  height: 10px;
  background-color: #e9e9e9;
}

.personal_goods_order_item_left{
  float: left;
}

.personal_goods_order_item_img{
  width: 60px;
  height: 60px;
  float: left;
}

.personal_goods_order_item_img img{
  width: 100%;
}

.personal_goods_order_item_word{
  float: left;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 21px;
  font-size: 12px;
}

.personal_goods_order_item_word_item{
  color: #666;
  margin-top: 10px;
}

.personal_goods_order_item_word_item_price{
  color: #ff5628;
}

.personal_goods_order_item_right{
  float: right;
  line-height: 55px;
  font-size: 12px;
}

.personal_goods_order_item_right a{
  color: #333;
}

.personal_goods_order_item_right a:hover{
  text-decoration: underline;
}

.personal_goods_order_item_right span{
  display: inline-block;
  margin: 0 6px;
}

.seat{
  width: 100%;
  height: 50px;
  background-color: #e9e9e9;
}

.not_order{
  text-align: center;
  height: 822px;
  line-height: 550px;
}